@import 'scss/_mixins.scss';
@import 'scss/_variables.scss';

html {
  scroll-behavior: smooth;
}

.main {
  @include gridable(100%);
  justify-items: center;
  padding-top: 153px;
  padding-bottom: 149px;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.27;
  font-family: 'Raleway', Arial, sans-serif;
  color: $color-black;
  background-color: $color-white;
  gap: 190px;
  @media screen and (max-width: $tablet) {
    padding-top: 83px;
    padding-bottom: 178px;
    gap: 97px;
  }
}
.section {
  @include gridable(100%);
  box-sizing: border-box;
  max-width: calc($max-width + (2 * 20px));
  padding: 0 20px;
  &__title {
    max-width: 20ch;
    margin: 0;
    padding-bottom: 60px;
    font-weight: bold;
    font-size: 70px;
    color: $color-blue;
    @media screen and (max-width: $tablet) {
      font-size: 45px;
    }
    @media screen and (max-width: $smartphone) {
      padding-bottom: 55px;
      font-size: 34px;
    }
  }
}
.steps {
  &__list {
    @include flexible(100%);
    @include unmarkedList;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: nowrap;
    gap: 30px;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }
    &::before {
      content: '';
      position: absolute;
      top: calc(51px / 2);
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-blue;
      @media screen and (max-width: $tablet) {
        top: 0;
        left: calc(51px / 2);
        flex-direction: column;
        width: 2px;
        height: 100%;
      }
    }
    &-item {
      @include gridable(100%);
      z-index: 10;
      grid-template-rows: min-content 1fr;
      justify-content: start;
      gap: 20px;
      @media screen and (max-width: $tablet) {
        grid-template-columns: min-content 1fr;
        grid-template-rows: max-content;
        gap: 33px;
      }
      &:last-child {
        background-color: $color-white;
      }
    }
  }
  &__text {
    margin: 0;
    @media screen and (max-width: $desktop) {
      font-size: 16px;
    }
    @media screen and (max-width: $tablet) {
      font-size: 19px;
    }
  }
  &__number {
    @include flexible(51px);
    justify-content: center;
    align-items: center;
    height: 51px;
    font-weight: bold;
    color: $color-white;
    background-color: $color-blue;
    border-radius: 50%;
  }
}

.questions {
  &__text {
    margin: 0;
    padding-bottom: 42px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    @media screen and (max-width: $tablet) {
      padding-bottom: 20px;
      font-size: 25px;
    }
  }
  &__title {
    @media screen and (max-width: $smartphone) {
      padding-bottom: 40px;
    }
  }
  &__list {
    @include gridable(100%);
    @include unmarkedList;
    grid-template-columns: repeat(6, 1fr);
    &-item {
      @include gridable(100%);
      align-content: space-between;
      box-sizing: border-box;
      width: 209px;
      height: 152px;
      padding: 14px;
      font-weight: 600;
      color: $color-white;
      background-color: $color-blue;
      border-radius: 10px;
      cursor: pointer;
      gap: 18px;
      transition: 0.5s linear;
      @media screen and (max-width: $smartphone) {
        width: 158px;
        height: 115px;
        padding: 10px;
        font-size: 16px;
        gap: 10px;
      }
      &_active {
        color: $color-black;
        background-color: $color-gray;
        & .questions__icon {
          fill: $color-black;
        }
      }
    }
    &-text {
      align-self: end;
      margin: 0;
      text-align: left;
      pointer-events: none;
      @media screen and (max-width: $smartphone) {
        font-size: 16px;
      }
    }
  }
  &__icon {
    width: 50px;
    height: 50px;
    pointer-events: none;
    fill: $color-white;
    @media screen and (max-width: $smartphone) {
      width: 40px;
      height: 40px;
    }
  }
  &-info {
    display: none;
    padding-top: 130px;
    padding-bottom: 65px;
    visibility: hidden;
    @media screen and (max-width: $tablet) {
      padding-top: 80px;
    }
    @media screen and (max-width: $smartphone) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &_active {
      display: block;
      visibility: visible;
    }
    &__list {
      @include unmarkedList;
      &-item {
        @include gridable(100%);
        grid-template-areas:
          'title icon'
          'text .';
        justify-content: space-between;
        box-sizing: border-box;
        padding: 23px;
        column-gap: 15px;
        border-top: 1px solid $color-blue;
        @media screen and (max-width: $tablet) {
          padding: 20px 0;
        }
        &__active {
          row-gap: 14px;
        }
        &:last-child {
          border-bottom: 1px solid $color-blue;
        }
      }
    }
    &__title {
      grid-area: title;
      align-self: center;
      width: auto;
      margin: 0;
      font-weight: bold;
      color: $color-blue;
      cursor: pointer;
    }
    &__sublist {
      @include gridable(100%);
      @include unmarkedList;
      gap: 14px;
      @media screen and (max-width: $tablet) {
        gap: 20px;
      }
      &-item {
        margin-left: 17px;
        list-style-type: disc;
        @media screen and (max-width: $tablet) {
          margin-left: 21px;
        }
        &::marker {
          width: 10px;
          height: 10px;
          color: $color-blue;
          border-radius: 50%;
        }
      }
    }
    &__text {
      grid-area: text;
      box-sizing: border-box;
      max-width: 1106px;
      max-height: 0;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s linear;
      &_visible {
        max-height: 1000px;
        padding-top: 14px;
        visibility: visible;
        opacity: 1;
        @media screen and (max-width: $smartphone) {
          padding-top: 20px;
        }
      }
    }
    &__button {
      @include gridable(33px);
      grid-area: icon;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      height: 33px;
      padding: 0;
      background-image: url(images/arrow-icon.png);
      background-size: contain;

      border: none;
      border-radius: 50%;
      transform: scale(1, 1);
      cursor: pointer;
      transition: 0.5s linear;
      @media screen and (max-width: $smartphone) {
        width: 30px;
        height: 30px;
      }
      &_rotate {
        transform: scale(1, -1);
      }
    }
  }
  &__subtitle {
    margin: 0;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.21;
    color: $color-black;
    @media screen and (max-width: $tablet) {
      padding-bottom: 20px;
      font-size: 34px;
    }
  }
  &__link {
    @include defaultLink;
  }
  &__button {
    @include flexible(100%);
    @include defaultLink;
    justify-content: center;
    justify-self: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 361px;
    height: 61px;
    border: 2px solid $color-blue;
    border-radius: 60px;
    @media screen and (max-width: $smartphone) {
      max-width: 270px;
      height: 48px;
      font-size: 16px;
    }
  }
  .slider {
    overflow: hidden;
  }
}
.swiper {
  width: 100%;
  height: 100%;
  &-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 209px;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    @media screen and (max-width: $smartphone) {
      width: 158px;
    }
  }
}
